/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');




.Entp{
    background-color:  #C3E5FF !important;
    padding-top: 0px !important;
  }
.Entp1{
    background-color:   #F68E3C !important;
    padding-top: 0px !important;
  }


h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px
}

h2 {
     font-size: 22px
}

h3 {
     font-size: 18px
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 20px ;
     /* custom margin */
     font-weight: 300;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

 :focus {
     outline: 0;
}

.paddind_bottom_0 {
     padding-bottom: 0 !important;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}
.full {
     float: left;
     width: 100%;
}

.layout_padding {
     padding-top: 90px;
     padding-bottom: 0px;
}
.padding_0{
    padding: 0px;
}
.padding_left_0{
    padding-left: 100px;
}
.header_section {
    /* width: 100%; */
    /* float: left; */
    /* text-align: center;  */
    /* now below is custom  */
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.header_bg{
  width: 100%;
  float: left;
  background-color: #f8f9fa!important;
}
.header_left{
    /* width: 50%;
    float: left; */
    /* custom below */
    width: 65%;
    padding: 5%;
}
.header_right{
    width: 50%;
    float: left; 
}

.custom-text-head2{
    color:#F68E3C;
    display: inline;
    margin-left: 10px;
}



.banner_img{
    width: 100%;
    float: left; 
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;   
}



.bg-light {
    background-color: transparent!important;
}


.banner_main{
    margin-top: 90px;
    width: 100%;
    float: left;
    padding-left: 100px;
  
    padding-bottom: 13%; /*custom*/
}
.banner_taital {
    width: 100%;
    float: left;
    /* font-size: 60px; */
    font-size: 40px; /*custom needed*/
    color:#FEFEFE;
    padding-top: 80px;
    text-transform: uppercase;
    font-weight: bold;
}
.banner_title{
  
    width: 100%;
    float: left;
    /* font-size: 60px; */
    font-size: 40px;
    color: #FEFEFE;
    padding-top: 80px;
    text-transform: uppercase;
    font-weight: bold;
    white-space: nowrap;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.banner_text {
  
     width: 90%;
    /* float: left; */
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    /* margin-left: 0px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn_main {
    width: 100%;
    /* float: left; */
    padding-top: 75px;
    /* custom */
    display: flex;
  
    align-items: center;
    margin-top: 40px;
}
.more_bt {
    width: 170px;
    float: left;
}

.more_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #000;
    border: 2px solid #F68E3C;
    text-align: center;
    padding: 10px 0px;
    border-radius: 40px;
    text-transform: uppercase;
    font-weight: bold;
}
.more_bt a:hover {
    color: #000;
    border: 2px solid #F68E3C;
}
.contact_bt {
    /* width: 170px; */
    width: 100%;
    /* float: left; */
    /* margin-left: 15px; */
    margin-left: 20px;
   
   
}
/* .contact_bt a {
    width: 100%;
    /* float: left; */
    /* background-color: #F68E3C;
    font-size: 16px; */
    /* color: #181818; */
    /* color: #FEFEFE;
    border: 2px solid #F68E3C;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none; custom */
/* } */
/*  Custom for above 2 a   */
.contact_bt:first-child a {
    width: 100%;
    /* float: left; */
    background-color: #F68E3C; /* Background color for the first button */
    font-size: 16px;
    color: #FEFEFE;
    border: 2px solid #F68E3C;
    text-align: center;
    padding: 10px 40px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none; /* Custom */
}

/* Style for the second button */
.contact_bt:nth-child(2) a {
    width: 100%;
    /* float: left; */
    background-color: transparent; /* Transparent background for the second button */
    font-size: 16px;
    color: #FEFEFE;
    border: 2px solid #F68E3C;
    text-align: center;
    padding: 10px 40px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none; /* Custom */
}
 .contact_bt a:hover {
    color: #FEFEFE;
      background-color: #F68E3C;
    border: 2px solid #F68E3C;
} 



.services_section {
    width: 100%;
    float: left;
   
    /* background-image: url(../images/services-bg.png); */

    padding-top: 10px;
    padding-bottom: 100px;
    background-size: 100%;
}

.services_taital {
    color: #1b5a8d !important;
    width: 100%;
    float: left;
    font-size: 34px;
    color: #282c47;
    padding-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
.services_taital::after {
    content: '';
    background-color: #f9b234;
    position: absolute;
    width: 60px;
    text-align: center;
    right: initial;
    top: 0px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 7px;
    left: 0;
    border-radius: 100px;
}
.normal-heading {
    font-size: 44px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #070769;
  }
.services_text {
    width: 90%;
    /* float: left; */
    max-width: 403px; /*custom*/
    font-size: 22px;
    font-weight: 300;
    color: #060606;
    margin: 0 auto; /* Center horizontally */
  margin-top: 5px; /* Adjusted margin-top */
  padding: 0 20px; /* Added padding for content */
    line-height: 26.63px;
    letter-spacing: 0em;
    text-align: left;
}
.services_text_1{
    width: 90%;
    /* float: left; */
    max-width: 403px; /*custom*/
    font-size: 22px;
    font-weight: 300;
    color: #060606;
    margin: 0 auto; /* Center horizontally */
  margin-top: 50px; /* Adjusted margin-top */
  padding: 0 20px; /* Added padding for content */
    line-height: 26.63px;
    letter-spacing: 0em;
    text-align: left;
}

.moremore_bt {
    width: 170px;
    float: left;
    margin-top: 30px;
    position: relative;
    z-index: 2;
}

.moremore_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #4aafff;
    border: 2px solid #88c6f8;
    text-align: center;
    padding: 10px 0px;
    border-radius: 40px;
}
.moremore_bt a:hover {
    color: #181818;
    border: 2px solid #f9b234;
}
.image_1 {
    width: 110%; /* Increase the width to make the image wider horizontally */
    height: 68vh; /* Set the height to 60% of the viewport height */
    max-width: none; /* Remove the max-width constraint */
    max-height: none; /* Remove the max-height constraint */

    border-radius: 100px 0px;

  }
  
  .image_2 {
    width: 100%; /* Increase the width to make the image wider horizontally */
    height: 68vh; /* Set the height to 60% of the viewport height */
    max-width: none; /* Remove the max-width constraint */
    max-height: none; /* Remove the max-height constraint */
    
    /* Specify the border-radius for individual corners */
   
   
    border-radius: 0px 100px;
  }
  
  
.custom-bttn{
    width:auto;
    color:#f9b234 ;
    border-Color:#f9b234;
    font-size: 16px;

}
.custom-bttn:hover{
    background-color:#f9b234 ;
    color:#fff ;
    border-Color:#f9b234
}
.services_text h4{
    font-size: 20px;
    color: #1b5a8d;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

@media (max-width:629px) {
    img.image_1 {
      display: none;
    }
  }

.what_we_do_section{
    width: 100%;
    float: left;
}
.what_taital {
    
    width: 100%;
    float: left;
    font-size: 34px;
    color: #1b5a8d;
    padding-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
.what_taital::after {
    content: '';
    background-color: #f9b234;
    position: absolute;
    width: 60px;
    text-align: center;
    right: 0;
    top: 0px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 7px;
    left: 0;
    border-radius: 100px;
}

.what_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #060606;
    margin-left: 0px;
    text-align: center;
    margin-top: 0px;
}
.what_we_do_section_2{
    width: 100%;
    float: left;
    margin-top: 40px;
}
.box_main {
    width: 100%;
    float: left;
    background-color: #1b5a8d;
    border-radius: 10px;
    padding: 30px 0px;
}
.box_main:hover{
    background-color: #f9b234;
}
.box_main.active {
    background-color: #f9b234;
}
.icon_1 {
    width: 100%;
    float: left;
    text-align: center;
    min-height: 70px;
}
.accounting_text{
    width: 100%;
    float: left;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}
.lorem_text{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    margin-left: 0px;
}
.moremore_bt_1 {
    width: 170px;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
}

.moremore_bt_1 a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    border: 2px solid #ffffff;
    text-align: center;
    padding: 10px 0px;
    border-radius: 40px;
}
.moremore_bt_1 a:hover {
    color: #ffffff;
    border: 2px solid #ffffff;
}


.models2 .row {
    padding-top: 40px;
  }
  
  .models2 .box {
    padding: 60px 40px;
    box-shadow: 0 3px 20px -2px rgba(20, 45, 100, 0.1);
    background: #fff;
    min-height: 100%;
    border-top: 4px solid #fff;
    border-radius: 5px;
  }
  
  .models2 h3 {
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 20px;
    color: #37517e;
  }
  
  .models2 h4 {
    font-size: 48px;
    color: #37517e;
    font-weight: 400;
    font-family: "Jost", sans-serif;
    margin-bottom: 25px;
  }
  
  .models2 h4 sup {
    font-size: 28px;
  }
  
  .models2 h4 span {
    color: #47b2e4;
    font-size: 18px;
    display: block;
  }
  
  .models2 ul {
    padding: 20px 0;
    list-style: none;
    /* color: #999; */
    color: #000F52;

    text-align: left;
    line-height: 20px;
  }
  
  .models2 ul li {
    padding: 10px 0 10px 30px;
    position: relative;
  }
  
  .models2 ul i {
    /* color: #28a745; */
    color: #000F52;
    font-size: 24px;
    position: absolute;
    left: 0;
    top: 6px;
  }
  
  .models2 ul .na {
    color: #ccc;
  }
  
  .models2 ul .na i {
    color: #ccc;
  }
  
  .models2 ul .na span {
    text-decoration: line-through;
  }
  
  .models2 .buy-btn {
    display: inline-block;
    padding: 12px 35px;
    border-radius: 50px;
    color: #47b2e4;
    transition: none;
    font-size: 16px;
    font-weight: 500;
    font-family: "Jost", sans-serif;
    transition: 0.3s;
    border: 1px solid #47b2e4;
   
   
   
   
  }
  
  .models2 .buy-btn:hover {
    background: #47b2e4;
    color: #fff;
  }
  
  .models2 .featured {
    border-top-color: #ff3e03;
    border-radius: 50px; 
    border: 2px #000F52 solid;
   
  
  }
  .featured h2{
    text-align: center; color: #000F52; font-size: 24px; font-family: Nunito Sans; font-weight: 700; word-wrap: break-word;width: 201px;
  }
  
  .models2 .featured .buy-btn {
    width: 193px; 
    height: 40px; 
    padding-left: 12px; 
    padding-right: 12px; 
    padding-top: 8px; 
    padding-bottom: 8px; 
    background: #000F52; 
    border-radius: 10px; 
    justify-content: center; 
    align-items: center; 
    gap: 10px;
    display: inline-flex
  }
  .models2 .featured .buy-btn .text
  {color: white;
     font-size: 16px; 
     font-family: Poppins; 
     font-weight: 400; word-wrap: break-word}
  .models2 .featured .buy-btn:hover {
    background: #23a3df;
  }
  
  @media (max-width: 992px) {
    .models2 .box {
      max-width: 60%;
      margin: 0 auto 30px auto;
    }
  }
  
  @media (max-width: 767px) {
    .models2 .box {
      max-width: 80%;
      margin: 0 auto 30px auto;
    }
  }
  
  @media (max-width: 420px) {
    .models2 .box {
      max-width: 100%;
      margin: 0 auto 30px auto;
    }
  }
  .section-model2 {
    text-align: center;
    padding-bottom: 30px;
  
  }
  .section-model2 h2 {
    
    font-size: 40px; 
    font-family: Poppins;
     font-weight: 700; 
     word-wrap: break-word;
    padding-bottom: 30pxs;
    text-align: center;
    text-transform: uppercase;
  
  
   
    position: relative;
    color: #F68E3C;
  }
  
  /* custom */
  /* Add media query for screens smaller than 768px */
/* Add media query for screens smaller than 768px */
@media (max-width: 768px) {
  /* Adjust font size, margins, and paddings for smaller screens */
  .services_section h2.transparent-heading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .services_section p.services_text {
    font-size: 20px;
    margin: 10px 0;
    padding: 0 20px;
  }
  
  /* Center align text on smaller screens */
  .services_section .col-md-5 {
    text-align: center;
  }
  .banner_taital {
    font-size: 40px; /* Adjust the font size as needed */
    padding-top: 40px; /* Adjust the padding as needed */
  }
  .header_section {
    flex-direction: column;
    text-align: center;
  }

  .header_left,
  .header_right {
    width: 100%;
    padding: 0;
  }
  .banner_main {
    margin-top: 60px; /* Adjust the margin-top as needed */
    padding-left: 8px; /* Adjust the padding-left as needed */
    padding-bottom: 8%; /* Adjust the padding-bottom as needed */
  }
  .contact_bt {
    width: 100%; /* Adjust the width as needed */
    margin-left: 0; /* Remove margin-left on smaller screens */
  }
  .contact_bt:nth-child(2) a {
    width: auto; /* Adjust the width to fit content */
    padding: 10px 17px; /* Padding for the second child on smaller screens */
  }

  /* Styles for the first child button on smaller screens */
  .contact_bt:first-child a {
    padding-left: 20px; /* Adjust the left padding for the first child on smaller screens */
    padding-right: 40px; /* Adjust the right padding for the first child on smaller screens */
  }
  
}

