.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn-cust{
  background-color: #37517e;
  color: white;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  }
  .btn-cust:hover{
    background-color: #f9b234;
    color: white;
  }

.login-form {
  border: 1px solid #fffcfc;
  padding: 20px;
  max-width: 300px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 5px;
  font-size: 16px;
}
.bg-img {
  /* The image used */
  background-image: url("/src/assets/solar-field.jpg");

  min-height: 726px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}
.itext{
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 56px;
  font-weight: bold;
  left: 60px;
  top: 250px;
}


/* for counter*/

.cont1 {
  
  display: flex;
  /* height: 400px; */
  flex-direction: column;
  justify-content: space-around;
  padding: 1em 0;
  position: relative;
  font-size: 16px;
  color: #2F5075;  
  background-color: #ffffff;
  /*border-bottom: 10px solid #18f98f;
  border-radius: 0.5em;
  */
 
}

.cont2{
  display: flex;
  height: auto;
  min-height: 300px;
  flex-direction: column;
  justify-content: space-around;
  
  position: relative;
  font-size: 16px;
  color: #ffffff;  
  background-color: #b7efc5;

}

.cont3 {
  
  display: flex;
  height: auto;
  min-height: 300px;
  flex-direction: column;
  justify-content: space-around;

  position: relative;
  font-size: 16px;
  color: #2F5075;  
  background-color: #ffffff;
  /*border-bottom: 10px solid #18f98f;
  border-radius: 0.5em;
  */
 
}


/*general sssection settings*/

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f3f5fa;
}
.section-model {
  text-align: center;
  padding-bottom: 30px;

}
.section-model h2 {
  
  font-size: 40px; 
  font-family: Poppins;
   font-weight: 500; 
   word-wrap: break-word;
  padding-bottom: 30pxs;
  
  text-transform: uppercase;


 
  position: relative;
  color: #ffffff;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #37517e;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
  font-size: 18px;
}

#hero {
  width: 100%;
  height: 80vh;
  background: #37517e;
}

#hero .container {
  padding-top: 72px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero h2 {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 50px;
  font-size: 24px;
}

#hero .btn-get-started {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  color: #fff;
  background: #47b2e4;
}

#hero .btn-get-started:hover {
  background: #209dd8;
}

#hero .btn-watch-video {
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  margin: 10px 0 0 25px;
  color: #fff;
  line-height: 1;
}

#hero .btn-watch-video i {
  line-height: 0;
  color: #fff;
  font-size: 32px;
  transition: 0.3s;
  margin-right: 8px;
}

#hero .btn-watch-video:hover i {
  color: #47b2e4;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
  #hero {
    height: 100vh;
    text-align: center;
  }

  #hero .animated {
    animation: none;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }

  #hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}


#whyus {
  padding: 60px 0;
  background: #fff;
}
.whyus .icon-box {
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  padding: 50px 30px;
  transition: all ease-in-out 0.4s;
  background: #fff;
  
 
}

.whyus .icon-box .icon {
  margin-bottom: 10px;
  
}

.whyus .icon-box .icon i {
  color: #37517e;
  font-size: 36px;
  transition: 0.3s;
}

.whyus .icon-box h4 {
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 24px;
}

.whyus .icon-box h4 a {
  color: #37517e;
  transition: ease-in-out 0.3s;
}

.whyus .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.whyus .icon-box:hover {
  transform: translateY(-10px);
}

.whyus .icon-box:hover h4 a {
  color: #47b2e4;
}
@media (max-width: 1024px) {

  .why-us .content,
  .why-us .accordion-list {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 992px) {
  .why-us .img {
    min-height: 400px;
  }

  .why-us .content {
    padding-top: 30px;
  }

  .why-us .accordion-list {
    padding-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .why-us .img {
    min-height: 200px;
  }
}


.models .row {
  padding-top: 40px;
}

.models .box {
  padding: 60px 40px;
  box-shadow: 0 3px 20px -2px rgba(20, 45, 100, 0.1);
  background: #fff;
  min-height: 100%;
  border-top: 4px solid #fff;
  border-radius: 5px;
}

.models h3 {
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 20px;
  color: #37517e;
}

.models h4 {
  font-size: 48px;
  color: #37517e;
  font-weight: 400;
  font-family: "Jost", sans-serif;
  margin-bottom: 25px;
}

.models h4 sup {
  font-size: 28px;
}

.models h4 span {
  color: #47b2e4;
  font-size: 18px;
  display: block;
}

.models ul {
  padding: 20px 0;
  list-style: none;
  color: #999;
  text-align: left;
  line-height: 20px;
}

.models ul li {
  padding: 10px 0 10px 30px;
  position: relative;
}

.models ul i {
  color: #28a745;
  font-size: 24px;
  position: absolute;
  left: 0;
  top: 6px;
}

.models ul .na {
  color: #ccc;
}

.models ul .na i {
  color: #ccc;
}

.models ul .na span {
  text-decoration: line-through;
}

.models .buy-btn {
  display: inline-block;
  padding: 12px 35px;
  border-radius: 50px;
  color: #47b2e4;
  transition: none;
  font-size: 16px;
  font-weight: 500;
  font-family: "Jost", sans-serif;
  transition: 0.3s;
  border: 1px solid #47b2e4;
 
 
 
 
}

.models .buy-btn:hover {
  background: #47b2e4;
  color: #fff;
}

.models .featured {
  border-top-color: #ff3e03;
  border-radius: 50px; 
  border: 2px #000F52 solid;
 

}
.featured h2{
  text-align: center; color: #000F52; font-size: 24px; font-family: Nunito Sans; font-weight: 700; word-wrap: break-word;width: 201px;
}

.models .featured .buy-btn {
  width: 193px; 
  height: 40px; 
  padding-left: 12px; 
  padding-right: 12px; 
  padding-top: 8px; 
  padding-bottom: 8px; 
  background: #000F52; 
  border-radius: 10px; 
  justify-content: center; 
  align-items: center; 
  gap: 10px;
  display: inline-flex
}
.models .featured .buy-btn .text
{color: white;
   font-size: 16px; 
   font-family: Poppins; 
   font-weight: 400; word-wrap: break-word}
.models .featured .buy-btn:hover {
  background: #23a3df;
}

@media (max-width: 992px) {
  .models .box {
    max-width: 60%;
    margin: 0 auto 30px auto;
  }
}

@media (max-width: 767px) {
  .models .box {
    max-width: 80%;
    margin: 0 auto 30px auto;
  }
}

@media (max-width: 420px) {
  .models .box {
    max-width: 100%;
    margin: 0 auto 30px auto;
  }
}


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  border-top: 3px solid #47b2e4;
  border-bottom: 3px solid #47b2e4;
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
}

.contact .info i {
  font-size: 20px;
  color: #47b2e4;
  float: left;
  width: 44px;
  height: 44px;
  background: #e7f5fb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #37517e;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #6182ba;
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: #47b2e4;
  color: #fff;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #47b2e4;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  border-top: 3px solid #47b2e4;
  border-bottom: 3px solid #47b2e4;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form .form-group {
  margin-bottom: 20px;
}

.contact .php-email-form label {
  padding-bottom: 8px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #47b2e4;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
  background: #47b2e4;
  border: 0;
  padding: 12px 34px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #209dd8;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



.counter{
  font-size: 65px;
  font-weight: 750;
}
.info{
  font-size: 18px;
  font-weight: 600;
  color: black;
}
.upadte{
  font-size: 15px;
  font-weight: 600;
  color: #000000;
  
}
.boxm{
  padding-bottom: 20px;
  padding-top: 20px;
  
}
.just{
  text-align: left;

}

.joinBox {
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.email-holder {
  margin-left: 10px;
}
/* .comm1{
#e8f4ff
} */

.Entpbox{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.Entp h3{
  font-size: 30px;
  font-weight: 600;
  color:#37517e  ;
}
.cust-button{
  background-color: #47b2e4;
  color: white;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  
  
}
.cust-button:hover{
  background-color: #209dd8;
}ss
.cust-field{
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  
  width:100px;
  
}
.image_1{
  width: 100%;
  float: left;
}

.services_section {
  width: 100%;
  float: left;
  
  height: auto;
  margin-top: 25px;
  padding-bottom: 20px;
  background-size: 100%;
}

.services_taital {
  width: 100%;
  float: left;
  font-size: 34px;
  color: #282c47;
  padding-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
}
.services_taital::after {
  content: '';
  background-color: #ff5a58;
  position: absolute;
  width: 60px;
  text-align: center;
  right: initial;
  top: 0px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 7px;
  left: 0;
  border-radius: 100px;
}
.services_text {
  width: 90%;
  float: left;
  font-size: 16px;
  color: #060606;
  margin-left: 0px;
}
