/* NavBar.css */
.navbar {
    background-color: #333;
    color: #CE824A;
    padding: 10px 20px;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 1.5rem;
  }
  
  .nav-menu {
    list-style: none;
    display: flex;
  }
  
  .nav-item {
    margin-left: 20px;
    cursor: pointer;
  }
  
  /* Optional: Style the active menu item */
  .nav-item.active {
    font-weight: bold;
  }
  