/* Custom styles */
.full-height {
    height: 30vh;
}
#hero {
    background-image: url('../assets/hero-img.png'); /* Replace with the path to your image */
    background-size: cover; /* Adjust as needed */
    background-position: center center; /* Adjust as needed */
    background-repeat: no-repeat; /* Adjust as needed */
    /* You can add more background properties like background-color, etc. */
  }
  .blue-text {
    color: #070769; /* or any other shade of blue you prefer */
  }
  
.transparent-heading {
    font-size: 44px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    letter-spacing: 2px;
    /* background: linear-gradient(to right, #d2691e, #3333ff); Update the gradient colors */
    background: linear-gradient(to right, #fc7718, #0d0dd4); /* Update the gradient colors */
    -webkit-background-clip: text; /* Clip the background to the text */
    background-clip: text; /* Clip the background to the text */
    -webkit-text-fill-color: transparent; /* Make the text transparent where the background is applied */
}

.custom-h1{
  font-weight: bold;
  font-size: 40px;
}
.custom-h2{
  font-weight: 600;
}
.custom-button1{
  margin-top: 60px;
  margin-right: 50px;
  width: 10rem;
  height: 2rem;
  background-color: #070769;
  color:white;
  border-radius: 8px;
  text-align: center;
}
.custom-button2{
  margin-top: 60px;
  margin-left: 50px;
  width: 10rem;
  height: 2rem;
  text-align: center;
  background: transparent;
  color:#070769;
  border-radius: 8px;
  border: 3px solid #070769;
}
/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .custom-h1 {
    font-size: 32px; /* Reduce font size for smaller screens */
    padding: 40px;
  }

  .custom-h2 {
    font-size: 18px; /* Reduce font size for smaller screens */
    padding: 40px;
  }

  .custom-button1,
  .custom-button2 {
    margin: 10px ; /* Reduce margin for smaller screens */
 
  
    width: 100%; /* Make buttons full width for smaller screens */
  }
}


